<h1>Listing skeds</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Gr</th>
    <th>M1</th>
    <th>M2</th>
    <th>M3</th>
    <th>M4</th>
    <th>M5</th>
    <th>T1</th>
    <th>T2</th>
    <th>T3</th>
    <th>T4</th>
    <th>T5</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @skeds.each do |sked| %>
  <tr>
    <td><%= sked.code %></td>
    <td><%= sked.gr %></td>
    <td><%= sked.m1 %></td>
    <td><%= sked.m2 %></td>
    <td><%= sked.m3 %></td>
    <td><%= sked.m4 %></td>
    <td><%= sked.m5 %></td>
    <td><%= sked.t1 %></td>
    <td><%= sked.t2 %></td>
    <td><%= sked.t3 %></td>
    <td><%= sked.t4 %></td>
    <td><%= sked.t5 %></td>
    <td><%= link_to 'Show', sked %></td>
    <td><%= link_to 'Edit', edit_sked_path(sked) %></td>
    <td><%= link_to 'Destroy', sked, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sked', new_sked_path %>
