<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="../../stylesheets/base.css" type="text/css" media="screen" charset="utf-8" />  
</head>
<body>
<p id="notice"><%= notice %></p>

<p>
  <b>Name Code:</b>
  <%= @sked.code %>
</p>

<p>
  <b>Grade:</b>
  <%= @sked.gr %>
</p>

<p>
  <b>MWF 7-8:30</b>
  <%= @sked.m1 %>
</p>

<p>
  <b>MWF 8:30-10</b>
  <%= @sked.m2 %>
</p>

<p>
  <b>MWF 10-12</b>
  <%= @sked.m3 %>
</p>

<p>
  <b>MWF 1-2:30</b>
  <%= @sked.m4 %>
</p>

<p>
  <b>MWF 2:30-4</b>
  <%= @sked.m5 %>
</p>

<p>
  <b>TTh 7-8:30</b>
  <%= @sked.t1 %>
</p>

<p>
  <b>TTh 8:30-10</b>
  <%= @sked.t2 %>
</p>

<p>
  <b>TTh 10-12</b>
  <%= @sked.t3 %>
</p>

<p>
  <b>TTh 1-2:30</b>
  <%= @sked.t4 %>
</p>

<p>
  <b>TTh 2:30-4</b>
  <%= @sked.t5 %>
</p>


<%= link_to 'Edit', edit_sked_path(@sked) %> |
<%= link_to 'Back', skeds_path %>
</body>
</html>