<p id="notice"><%= notice %></p>

<p>
  <b>Name Code:</b>
  <%= @sked.code %>
</p>

<p>
  <b>Grade:</b>
  <%= @sked.gr %>
</p>

<p>
  <b>MWF 7-8:30</b>
  <%= @sked.m1 %>
</p>

<p>
  <b>MWF 8:30-10</b>
  <%= @sked.m2 %>
</p>

<p>
  <b>MWF 10-12</b>
  <%= @sked.m3 %>
</p>

<p>
  <b>MWF 1-2:30</b>
  <%= @sked.m4 %>
</p>

<p>
  <b>MWF 2:30-4</b>
  <%= @sked.m5 %>
</p>

<p>
  <b>TTh 7-8:30</b>
  <%= @sked.t1 %>
</p>

<p>
  <b>TTh 8:30-10</b>
  <%= @sked.t2 %>
</p>

<p>
  <b>TTh 10-12</b>
  <%= @sked.t3 %>
</p>

<p>
  <b>TTh 1-2:30</b>
  <%= @sked.t4 %>
</p>

<p>
  <b>TTh 2:30-4</b>
  <%= @sked.t5 %>
</p>


<%= link_to 'Edit', edit_sked_path(@sked) %> |
<%= link_to 'Back', skeds_path %>
