<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="../../stylesheets/base.css" type="text/css" media="screen" charset="utf-8" />  
</head>
<body>
<div align="center">
<h1>Class Schedules</h1>

<table border="1" cellpadding="0" cellspacing="0">
  <tr style="background-color:blue;color:white">
    <th colspan="2"></th>
	<th colspan="5"><center>M-W-F</center></th>
	<th colspan="5"><center>T-Th</center></th>
  </tr>
  <tr style="background-color:blue;color:white">
    <th>Code</th>
    <th>Gr</th>
    <th>7:00-8:30</th>
    <th>8:31-10:01</th>
    <th>10:02-12:02</th>
    <th>1:04-2:34</th>
    <th>2:35-4:05</th>
    <th>7:00-8:30</th>
    <th>8:31-10:01</th>
    <th>10:02-12:02</th>
    <th>1:04-2:34</th>
    <th>2:35-4:05</th>
	
  </tr>

<% @lists.each do |lists| %>
  <tr align="center">
    <td><%= lists.code %></td>
    <td><%= lists.gr %></td>
    <td><%= lists.m1 %></td>
    <td><%= lists.m2 %></td>
    <td><%= lists.m3 %></td>
    <td><%= lists.m4 %></td>
    <td><%= lists.m5 %></td>
    <td><%= lists.t1 %></td>
    <td><%= lists.t2 %></td>
    <td><%= lists.t3 %></td>
    <td><%= lists.t4 %></td>
    <td><%= lists.t5 %></td>
  </tr>
<% end %>
</table>

<br />
<p><center>Designer/developer: Mr Vargas</center></p> 
</div>
</body>
</html>