<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sked.name %>
</p>

<p>
  <b>Mwf1:</b>
  <%= @sked.mwf1 %>
</p>

<p>
  <b>Mwf2:</b>
  <%= @sked.mwf2 %>
</p>

<p>
  <b>Mwf3:</b>
  <%= @sked.mwf3 %>
</p>

<p>
  <b>Tth1:</b>
  <%= @sked.tth1 %>
</p>

<p>
  <b>Tth2:</b>
  <%= @sked.tth2 %>
</p>

<p>
  <b>Tth3:</b>
  <%= @sked.tth3 %>
</p>


<%= link_to 'Edit', edit_sked_path(@sked) %> |
<%= link_to 'Back', skeds_path %>
