<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @sked.code %>
</p>

<p>
  <b>Gr:</b>
  <%= @sked.gr %>
</p>

<p>
  <b>M1:</b>
  <%= @sked.m1 %>
</p>

<p>
  <b>M2:</b>
  <%= @sked.m2 %>
</p>

<p>
  <b>M3:</b>
  <%= @sked.m3 %>
</p>

<p>
  <b>M4:</b>
  <%= @sked.m4 %>
</p>

<p>
  <b>M5:</b>
  <%= @sked.m5 %>
</p>

<p>
  <b>T1:</b>
  <%= @sked.t1 %>
</p>

<p>
  <b>T2:</b>
  <%= @sked.t2 %>
</p>

<p>
  <b>T3:</b>
  <%= @sked.t3 %>
</p>

<p>
  <b>T4:</b>
  <%= @sked.t4 %>
</p>

<p>
  <b>T5:</b>
  <%= @sked.t5 %>
</p>


<%= link_to 'Edit', edit_sked_path(@sked) %> |
<%= link_to 'Back', skeds_path %>
